npm-debug.log
.vscode
.idea
node_modules
google-services.json
GoogleServices-Info.plist

demo/platforms/
demo/typings/
demo/.tmp_backup
demo/app/*.js

src/node_modules/

!publish/scripts/*.js
publish/package/*
package/**
