Page{
    background-color: #f2f2f2;
    padding: 20;
}

.gesturezone{
    color: #a9a9a9;
    background-color: #FFFFFF;
    border-radius: 10;
    margin:20;
    text-align: center;
    padding: 50 0;
    border-width: 1;
    border-color: #a9a9a9;
}

.logo{
    horizontal-align: center;
    margin: 20 0;
    padding: 10;
    width: 75%;
}

Button{
    color: #FFF;
    background-color: #616161;
    margin: 10 20;
    padding: 20 20
}

.label{
    margin: 40 0;
    horizontal-align:center;
    color: #616161;
}